@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }


body {
    font-family: "Roboto";
}

a {
    text-decoration: none;
}

.header {
    background-color:  #0C29D0;
    width: 100%;
    height: 50px;

    color:  #E6EEFF;

    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    font-weight: bold;
    width: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
    
}

.main-container li {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #E6EEFF;

    width: 200px;
    text-decoration: none;
    background-color:  #0C29D0;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0 10px;

}

.main-container li a {
    color: #E6EEFF;
}

.title {
    width: 120px;
    margin: 0 auto;
}

form {
    margin: 10px 10px;
}

label {
    font-size: 16px;
}

input {
    border-radius: 8px;
    height: 24px;
    width: 100%;
    border-width: 1px;
    margin: 10px 0;
    padding: 8px;
}

.register-button {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #E6EEFF;

    border-radius: 8px;
    background-color: #0C29D0;
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    padding: 8px;

    margin: 0 auto;

    border-style: none;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    padding: 10px;
    background-color: #0C29D0;
    width: 100px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;

    margin: 0 auto;
}

.button a {
    color: #E6EEFF;
}