{% extends 'template.html' %}
{% block corpo %}
    <ul class="main-container">
        {% for i in marketplace %}
            <li>{{i}}</li>
        {% endfor %}
    </ul>

    <div class="main-container">
        <label>Register Marketplace</label>
        <form action='/marketplaces'>
            <input type="text" name="new-marketplace" placeholder="Marketplace's name" />

            <button class="register-button"type="submit">Cadastrar</button>
        </form>
    </div>
    
    <div class="button">
        <a href="/">Back</a>
    </div>
{% endblock %}